.main {
    height: 300px;
    width: 300px;
    background-color: red;
    position: relative;
    top: 200px;

}

.child {
    height: 50px;
    width: 50px;
    background-color: blue;
    position: fixed;
    left: 20px;
    top: 10px;

}

.outsider {
    height: 100px;
    width: 100px;
    background-color: green;
}